<!DOCTYPE HTML>
<html>
  <head>
    <title>Notes</title>
  </head>
<div id="center">
  <div id="all-notes">
    <body>

      <% user = User.find_by(:username => session[:username]) %>
      <% notes_array = user.notes %>
      <% notes = user.notes.pluck(:id, :title, :content) %>
      <h1><%= "#{user.username}'s Notes" %></h1>
      <% if notes_array.empty? == true %>
      <h3><%= "You have no saved notes. Create a new note!" %></h3>
      <% else %>
      <% notes.each do |id, title, content| %>
        <ul>
          <li>
            <h2><%=title%></h2>
            <a href="notes/<%= id%>">
              <p><%=content%>></p>
            </a>
          </li>
          <%end%>
          <%end%>
        </ul>
      </body>
    </div>
  </div>
</html>
