<!DOCTYPE HTML>
<html>
  <head>
    <title>Notes</title>
  </head>
    <div id="nav">
      <ul>
        <li><a href="/notes">Notes</a></li>
        <li><a href="/notes/new">New Note</a></li>
        <li><a class="active"  href="/logout">Logout</a></li>
      </ul>
    </div>
<div id="center">
  <div id="all-notes">
    <body>
      <h1><%= "#{@user.username}'s Notes" %></h1>
      <% if @notes_array.empty? == true %>
      <h3><%= erb :no_message %></h3>
      <% else %>
        <ul>
      <% @notes.each do |id, title, content| %>
          <li>
            <h2><%=title%></h2>
            <a href="notes/<%= id%>"
              <p><%=content%></p>
            </a>
          </li>
          <%end%>
          <%end%>
        </ul>
      </body>
    </div>
  </div>
</html>
